<% admin_breadcrumb(link_to plural_resource_name(Spree::Product), spree.admin_products_path) %>
<% admin_breadcrumb(link_to @product.name, spree.admin_product_path(@product)) %>

<% content_for :tabs do %>
  <nav>
    <ul class="tabs" data-hook="admin_product_tabs">
      <% Spree::Backend::Config.product_tabs.each do |tab| %>
        <% if instance_exec(&tab.condition) %>
          <%= content_tag :li, class: ('active' if instance_exec(&tab.active)) do %>
            <%= link_to tab.presentation, instance_exec(&tab.url) %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </nav>
<% end %>
